<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>

    
    <!-- <h1>
        <%= urls.forEach(url => { %>
            <%= url.shortId %>
        <% }) %>
        Hey i am from server
    </h1> -->
<h1>Url Shortner</h1>
<div>
    <form action="/url" method="post">
        <label for="url">Enter the url</label>
        <input type="text" name="url" id="url">
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>